USE [master]
GO
/****** Object:  Database [EMR_GP_DB]    Script Date: 8/4/2019 5:52:37 PM ******/
CREATE DATABASE [EMR_GP_DB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'EMR_GP_DB', FILENAME = N'D:\Graduation Project\Database\EMR_GP_DB.mdf' , SIZE = 4096KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB ), 
 FILEGROUP [Medical_Doctor_Department] 
( NAME = N'Medical_Doctor_Department', FILENAME = N'D:\Graduation Project\Database\Medical_Doctor_Department.ndf' , SIZE = 4096KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB ), 
 FILEGROUP [Patient] 
( NAME = N'Patient', FILENAME = N'D:\Graduation Project\Database\Patient.ndf' , SIZE = 4096KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'EMR_GP_DB_log', FILENAME = N'D:\Graduation Project\Database\EMR_GP_DB_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [EMR_GP_DB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [EMR_GP_DB]
GO
/****** Object:  Table [dbo].[Child_FollowUp_Form]    Script Date: 8/4/2019 5:52:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Child_FollowUp_Form](
	[Patient_Id] [bigint] NOT NULL,
	[Age_In_Month] [int] NOT NULL,
	[Feed_Type] [nchar](100) NOT NULL,
	[Vaccination_Type] [nchar](100) NULL,
	[Vaccination_Date] [date] NULL,
 CONSTRAINT [PK_Child_FollowUp_Form] PRIMARY KEY CLUSTERED 
(
	[Patient_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [Patient]
) ON [Patient]
GO
/****** Object:  Table [dbo].[Department]    Script Date: 8/4/2019 5:52:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Department](
	[Department_Name] [nchar](50) NOT NULL,
	[Medical_Org_Id] [bigint] NOT NULL,
	[Department_Id] [bigint] IDENTITY(1,1) NOT NULL,
 CONSTRAINT [PK_Department] PRIMARY KEY CLUSTERED 
(
	[Department_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [Medical_Doctor_Department]
) ON [Medical_Doctor_Department]
GO
/****** Object:  Table [dbo].[Diseases]    Script Date: 8/4/2019 5:52:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Diseases](
	[Patient_Id] [bigint] NOT NULL,
	[Disease_Name] [nchar](50) NOT NULL,
	[Disease_Type] [nchar](50) NOT NULL,
	[disease_Id] [bigint] IDENTITY(1,1) NOT NULL,
 CONSTRAINT [PK_Diseases] PRIMARY KEY CLUSTERED 
(
	[disease_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [Patient]
) ON [Patient]
GO
/****** Object:  Table [dbo].[Doctor]    Script Date: 8/4/2019 5:52:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Doctor](
	[Doctor_Id] [bigint] NOT NULL,
	[Medium_Rate] [float] NULL,
	[Acadimic_Degree] [nchar](50) NULL,
	[Functional_Degree] [nchar](50) NULL,
	[Spacialization] [nchar](50) NULL,
	[Medical_Org_Id] [bigint] NOT NULL,
	[Department_Id] [bigint] NULL,
 CONSTRAINT [PK_Doctor] PRIMARY KEY CLUSTERED 
(
	[Doctor_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [Medical_Doctor_Department]
) ON [Medical_Doctor_Department]
GO
/****** Object:  Table [dbo].[Doctor_Schedule]    Script Date: 8/4/2019 5:52:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Doctor_Schedule](
	[doctor_id] [bigint] NOT NULL,
	[day] [char](10) NOT NULL,
	[from] [time](7) NOT NULL,
	[to] [time](7) NOT NULL,
	[Schedule_Id] [bigint] IDENTITY(1,1) NOT NULL,
 CONSTRAINT [PK_Doctor_Schedule] PRIMARY KEY CLUSTERED 
(
	[Schedule_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Evaluation_Doctor]    Script Date: 8/4/2019 5:52:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Evaluation_Doctor](
	[Doctor_Id] [bigint] NOT NULL,
	[Patient_Id] [bigint] NOT NULL,
	[Rate] [float] NOT NULL,
	[Evaluation_Doctor_Id] [bigint] IDENTITY(1,1) NOT NULL,
 CONSTRAINT [PK_Evaluation_Doctor] PRIMARY KEY CLUSTERED 
(
	[Evaluation_Doctor_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Evaluation_Medical_Org]    Script Date: 8/4/2019 5:52:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Evaluation_Medical_Org](
	[Medical_Org_Id] [bigint] NOT NULL,
	[Patient_Id] [bigint] NOT NULL,
	[Rate] [float] NOT NULL,
	[Evaluation_Medical_Id] [bigint] IDENTITY(1,1) NOT NULL,
 CONSTRAINT [PK_Evaluation_Medical_Org] PRIMARY KEY CLUSTERED 
(
	[Evaluation_Medical_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Examination]    Script Date: 8/4/2019 5:52:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Examination](
	[Patient_Id] [bigint] NOT NULL,
	[Doctor_Id] [bigint] NOT NULL,
	[Medical_Org_Id] [bigint] NOT NULL,
	[exm_date] [date] NOT NULL,
	[exm_description_result] [nchar](500) NULL,
	[exm_midicine] [nchar](500) NULL,
	[examination_Id] [bigint] IDENTITY(1,1) NOT NULL,
 CONSTRAINT [PK_Examination] PRIMARY KEY CLUSTERED 
(
	[examination_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [Patient]
) ON [Patient]
GO
/****** Object:  Table [dbo].[Family_History]    Script Date: 8/4/2019 5:52:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Family_History](
	[Patient_Id] [bigint] NOT NULL,
	[Disease_Name] [nchar](50) NOT NULL,
	[Disease_Type] [nchar](50) NOT NULL,
	[family_history] [bigint] IDENTITY(1,1) NOT NULL,
 CONSTRAINT [PK_Family_History] PRIMARY KEY CLUSTERED 
(
	[family_history] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [Patient]
) ON [Patient]
GO
/****** Object:  Table [dbo].[General_Examination]    Script Date: 8/4/2019 5:52:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[General_Examination](
	[Patient_Id] [bigint] NOT NULL,
	[Length] [int] NULL,
	[Weight] [float] NULL,
	[Blood_Type] [nchar](3) NULL,
	[Blood_Pressure] [nchar](50) NULL,
	[Diabetes] [int] NULL,
	[Habits] [nchar](200) NULL,
	[Temperature] [int] NULL,
	[Allergies] [nchar](200) NULL,
 CONSTRAINT [PK_General_Examination] PRIMARY KEY CLUSTERED 
(
	[Patient_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [Patient]
) ON [Patient]
GO
/****** Object:  Table [dbo].[Labs]    Script Date: 8/4/2019 5:52:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Labs](
	[Patient_Id] [bigint] NOT NULL,
	[Org_Id] [bigint] NOT NULL,
	[Lab_Name] [nchar](100) NOT NULL,
	[Lab_Description_Result] [nchar](500) NULL,
	[Lab_Type] [nchar](50) NOT NULL,
	[Lab_Date] [date] NOT NULL,
	[Lab_File] [nchar](200) NULL,
	[Lab_Id] [bigint] IDENTITY(1,1) NOT NULL,
 CONSTRAINT [PK_Labs] PRIMARY KEY CLUSTERED 
(
	[Lab_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [Patient]
) ON [Patient]
GO
/****** Object:  Table [dbo].[Medical_Organization]    Script Date: 8/4/2019 5:52:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Medical_Organization](
	[Medical_Org_Id] [bigint] NOT NULL,
	[Medical_Org_Name] [nchar](100) NOT NULL,
	[Medium_Rate] [float] NULL,
 CONSTRAINT [PK_Medical_Organization] PRIMARY KEY CLUSTERED 
(
	[Medical_Org_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [Medical_Doctor_Department]
) ON [Medical_Doctor_Department]
GO
/****** Object:  Table [dbo].[Operations]    Script Date: 8/4/2019 5:52:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Operations](
	[Patient_Id] [bigint] NOT NULL,
	[Op_Name] [nchar](100) NOT NULL,
	[Op_Type] [nchar](100) NOT NULL,
	[Op_Date] [date] NOT NULL,
	[Doctor_Id] [bigint] NULL,
	[Organization_Id] [bigint] NOT NULL,
	[Operation_Id] [bigint] IDENTITY(1,1) NOT NULL,
 CONSTRAINT [PK_Operations] PRIMARY KEY CLUSTERED 
(
	[Operation_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [Patient]
) ON [Patient]
GO
/****** Object:  Table [dbo].[Patient]    Script Date: 8/4/2019 5:52:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Patient](
	[Patient_Id] [bigint] NOT NULL,
	[Learning_Status] [nchar](90) NULL,
	[Social_Status] [nchar](90) NULL,
	[Death_Date] [date] NULL,
	[Alternative_Phone] [nchar](14) NULL,
	[Job] [nchar](50) NULL,
	[Reason_Death] [nchar](500) NULL,
 CONSTRAINT [PK_Patient] PRIMARY KEY CLUSTERED 
(
	[Patient_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [Patient]
) ON [Patient]
GO
/****** Object:  Table [dbo].[Permission]    Script Date: 8/4/2019 5:52:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Permission](
	[Patient_Id] [bigint] NOT NULL,
	[Doctor_Id] [bigint] NOT NULL,
	[Booking_Date] [date] NOT NULL,
	[Permission_Id] [bigint] IDENTITY(1,1) NOT NULL,
	[hour] [decimal](23, 0) NOT NULL,
 CONSTRAINT [PK_Permission_1] PRIMARY KEY CLUSTERED 
(
	[Permission_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Person]    Script Date: 8/4/2019 5:52:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Person](
	[Person_Id] [bigint] NOT NULL,
	[First_Name] [nchar](100) NOT NULL,
	[Last_Name] [nchar](100) NOT NULL,
	[Birth_Date] [date] NOT NULL,
	[National_Id] [nchar](14) NOT NULL,
	[Nationality] [nchar](50) NULL,
	[Gender] [nchar](6) NOT NULL,
 CONSTRAINT [PK_Person] PRIMARY KEY CLUSTERED 
(
	[Person_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Reviews]    Script Date: 8/4/2019 5:52:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Reviews](
	[Patient_Id] [bigint] NOT NULL,
	[Doctor_Id] [bigint] NOT NULL,
	[Organization_Id] [bigint] NOT NULL,
	[rev_date] [date] NOT NULL,
	[rev_midicine] [nchar](500) NULL,
	[rev_description_result] [nchar](500) NULL,
	[review_Id] [bigint] IDENTITY(1,1) NOT NULL,
 CONSTRAINT [PK_Reviews] PRIMARY KEY CLUSTERED 
(
	[review_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [Patient]
) ON [Patient]
GO
/****** Object:  Table [dbo].[User]    Script Date: 8/4/2019 5:52:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User](
	[User_Id] [bigint] IDENTITY(1,1) NOT NULL,
	[Email] [nchar](200) NOT NULL,
	[Address] [nchar](200) NULL,
	[Phone] [nchar](15) NULL,
	[Last_Date_Of_Login] [date] NULL,
	[User_Type] [int] NOT NULL,
	[Password] [nchar](15) NOT NULL,
	[Status_Of_Account] [int] NOT NULL,
	[City] [nchar](20) NULL,
	[Photo_Url] [nchar](500) NULL,
 CONSTRAINT [PK_UserId] PRIMARY KEY CLUSTERED 
(
	[User_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Child_FollowUp_Form] ([Patient_Id], [Age_In_Month], [Feed_Type], [Vaccination_Type], [Vaccination_Date]) VALUES (30, 24, N'Weaned                                                                                              ', NULL, NULL)
SET IDENTITY_INSERT [dbo].[Department] ON 

INSERT [dbo].[Department] ([Department_Name], [Medical_Org_Id], [Department_Id]) VALUES (N'Emergency                                         ', 23, 2)
SET IDENTITY_INSERT [dbo].[Department] OFF
SET IDENTITY_INSERT [dbo].[Diseases] ON 

INSERT [dbo].[Diseases] ([Patient_Id], [Disease_Name], [Disease_Type], [disease_Id]) VALUES (30, N'Hypertension                                      ', N'Chronic                                           ', 1)
SET IDENTITY_INSERT [dbo].[Diseases] OFF
INSERT [dbo].[Doctor] ([Doctor_Id], [Medium_Rate], [Acadimic_Degree], [Functional_Degree], [Spacialization], [Medical_Org_Id], [Department_Id]) VALUES (50, 3.775, N'Bachelor                                          ', N'                                                  ', N'General                                           ', 7, NULL)
INSERT [dbo].[Doctor] ([Doctor_Id], [Medium_Rate], [Acadimic_Degree], [Functional_Degree], [Spacialization], [Medical_Org_Id], [Department_Id]) VALUES (51, 0, N'Bachelor                                          ', N'                                                  ', N'General                                           ', 23, 2)
INSERT [dbo].[Doctor] ([Doctor_Id], [Medium_Rate], [Acadimic_Degree], [Functional_Degree], [Spacialization], [Medical_Org_Id], [Department_Id]) VALUES (52, 3.5, N'Bacholer                                          ', N'Consyltative                                      ', N'Nerves                                            ', 23, 2)
SET IDENTITY_INSERT [dbo].[Doctor_Schedule] ON 

INSERT [dbo].[Doctor_Schedule] ([doctor_id], [day], [from], [to], [Schedule_Id]) VALUES (50, N'Monday    ', CAST(N'09:00:00' AS Time), CAST(N'13:00:00' AS Time), 1)
INSERT [dbo].[Doctor_Schedule] ([doctor_id], [day], [from], [to], [Schedule_Id]) VALUES (50, N'Sunday    ', CAST(N'18:00:00' AS Time), CAST(N'22:00:00' AS Time), 2)
INSERT [dbo].[Doctor_Schedule] ([doctor_id], [day], [from], [to], [Schedule_Id]) VALUES (50, N'Wednesday ', CAST(N'18:00:00' AS Time), CAST(N'22:00:00' AS Time), 3)
SET IDENTITY_INSERT [dbo].[Doctor_Schedule] OFF
SET IDENTITY_INSERT [dbo].[Evaluation_Doctor] ON 

INSERT [dbo].[Evaluation_Doctor] ([Doctor_Id], [Patient_Id], [Rate], [Evaluation_Doctor_Id]) VALUES (50, 30, 4.5, 4)
INSERT [dbo].[Evaluation_Doctor] ([Doctor_Id], [Patient_Id], [Rate], [Evaluation_Doctor_Id]) VALUES (50, 30, 3, 5)
INSERT [dbo].[Evaluation_Doctor] ([Doctor_Id], [Patient_Id], [Rate], [Evaluation_Doctor_Id]) VALUES (52, 30, 3.5, 6)
SET IDENTITY_INSERT [dbo].[Evaluation_Doctor] OFF
SET IDENTITY_INSERT [dbo].[Evaluation_Medical_Org] ON 

INSERT [dbo].[Evaluation_Medical_Org] ([Medical_Org_Id], [Patient_Id], [Rate], [Evaluation_Medical_Id]) VALUES (5, 30, 3, 1)
INSERT [dbo].[Evaluation_Medical_Org] ([Medical_Org_Id], [Patient_Id], [Rate], [Evaluation_Medical_Id]) VALUES (2, 30, 3.5, 2)
INSERT [dbo].[Evaluation_Medical_Org] ([Medical_Org_Id], [Patient_Id], [Rate], [Evaluation_Medical_Id]) VALUES (4, 30, 5, 3)
SET IDENTITY_INSERT [dbo].[Evaluation_Medical_Org] OFF
SET IDENTITY_INSERT [dbo].[Examination] ON 

SET IDENTITY_INSERT [dbo].[Examination] OFF
SET IDENTITY_INSERT [dbo].[Family_History] ON 

INSERT [dbo].[Family_History] ([Patient_Id], [Disease_Name], [Disease_Type], [family_history]) VALUES (30, N'Diabetes                                          ', N'Chronic                                           ', 1)
INSERT [dbo].[Family_History] ([Patient_Id], [Disease_Name], [Disease_Type], [family_history]) VALUES (30, N'Hypertension                                      ', N'Chronic                                           ', 2)
SET IDENTITY_INSERT [dbo].[Family_History] OFF
INSERT [dbo].[General_Examination] ([Patient_Id], [Length], [Weight], [Blood_Type], [Blood_Pressure], [Diabetes], [Habits], [Temperature], [Allergies]) VALUES (30, 190, 90, N'O+ ', N'120 / 80                                          ', 90, N'No Smoking, Play Sports                                                                                                                                                                                 ', 37, NULL)
SET IDENTITY_INSERT [dbo].[Labs] ON 

SET IDENTITY_INSERT [dbo].[Labs] OFF
INSERT [dbo].[Medical_Organization] ([Medical_Org_Id], [Medical_Org_Name], [Medium_Rate]) VALUES (2, N'ALHayat                                                                                             ', 3.5)
INSERT [dbo].[Medical_Organization] ([Medical_Org_Id], [Medical_Org_Name], [Medium_Rate]) VALUES (3, N'The Future                                                                                          ', 0)
INSERT [dbo].[Medical_Organization] ([Medical_Org_Id], [Medical_Org_Name], [Medium_Rate]) VALUES (4, N'AL Nour for Eyes                                                                                    ', 5)
SET IDENTITY_INSERT [dbo].[Operations] ON 

INSERT [dbo].[Operations] ([Patient_Id], [Op_Name], [Op_Type], [Op_Date], [Doctor_Id], [Organization_Id], [Operation_Id]) VALUES (30, N'Remove the tonsils                                                                                  ', N'Surgery                                                                                             ', CAST(N'2018-03-05' AS Date), 50, 7, 1)
SET IDENTITY_INSERT [dbo].[Operations] OFF
INSERT [dbo].[Patient] ([Patient_Id], [Learning_Status], [Social_Status], [Death_Date], [Alternative_Phone], [Job], [Reason_Death]) VALUES (30, N'Bachelor                                                                                  ', N'Single                                                                                    ', NULL, N'01234567891   ', N'Student at FCIH                                   ', NULL)
INSERT [dbo].[Patient] ([Patient_Id], [Learning_Status], [Social_Status], [Death_Date], [Alternative_Phone], [Job], [Reason_Death]) VALUES (31, N'Bachelor                                                                                  ', N'Single                                                                                    ', NULL, NULL, N'Student at FCIH                                   ', NULL)
INSERT [dbo].[Patient] ([Patient_Id], [Learning_Status], [Social_Status], [Death_Date], [Alternative_Phone], [Job], [Reason_Death]) VALUES (32, N'Bachelor                                                                                  ', N'Single                                                                                    ', NULL, NULL, N'Student at FCIH                                   ', NULL)
SET IDENTITY_INSERT [dbo].[Permission] ON 

INSERT [dbo].[Permission] ([Patient_Id], [Doctor_Id], [Booking_Date], [Permission_Id], [hour]) VALUES (30, 51, CAST(N'2019-04-17' AS Date), 1, CAST(10 AS Decimal(23, 0)))
INSERT [dbo].[Permission] ([Patient_Id], [Doctor_Id], [Booking_Date], [Permission_Id], [hour]) VALUES (30, 51, CAST(N'2019-04-28' AS Date), 2, CAST(10 AS Decimal(23, 0)))
SET IDENTITY_INSERT [dbo].[Permission] OFF
INSERT [dbo].[Person] ([Person_Id], [First_Name], [Last_Name], [Birth_Date], [National_Id], [Nationality], [Gender]) VALUES (1, N'Mohammad                                                                                            ', N'Mahmoud                                                                                             ', CAST(N'1997-03-09' AS Date), N'10234567892134', N'Egypt                                             ', N'male  ')
INSERT [dbo].[Person] ([Person_Id], [First_Name], [Last_Name], [Birth_Date], [National_Id], [Nationality], [Gender]) VALUES (30, N'Ahmed Tareek                                                                                        ', N'Faud                                                                                                ', CAST(N'1997-01-05' AS Date), N'01234567891234', N'Egypt                                             ', N'male  ')
INSERT [dbo].[Person] ([Person_Id], [First_Name], [Last_Name], [Birth_Date], [National_Id], [Nationality], [Gender]) VALUES (31, N'Mohamed                                                                                             ', N'Rabia                                                                                               ', CAST(N'1996-10-01' AS Date), N'98765412301346', N'Egypt                                             ', N'male  ')
SET IDENTITY_INSERT [dbo].[Reviews] ON 

SET IDENTITY_INSERT [dbo].[Reviews] OFF
SET IDENTITY_INSERT [dbo].[User] ON 

SET IDENTITY_INSERT [dbo].[User] OFF
/****** Object:  Index [National_Id]    Script Date: 8/4/2019 5:52:38 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [National_Id] ON [dbo].[Person]
(
	[Person_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [Unique_UserName]    Script Date: 8/4/2019 5:52:38 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [Unique_UserName] ON [dbo].[User]
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Child_FollowUp_Form]  WITH CHECK ADD  CONSTRAINT [FK_Child_FollowUp_Form_Patient] FOREIGN KEY([Patient_Id])
REFERENCES [dbo].[Patient] ([Patient_Id])
GO
ALTER TABLE [dbo].[Child_FollowUp_Form] CHECK CONSTRAINT [FK_Child_FollowUp_Form_Patient]
GO
ALTER TABLE [dbo].[Department]  WITH CHECK ADD  CONSTRAINT [FK_Department_Medical_Org] FOREIGN KEY([Medical_Org_Id])
REFERENCES [dbo].[Medical_Organization] ([Medical_Org_Id])
GO
ALTER TABLE [dbo].[Department] CHECK CONSTRAINT [FK_Department_Medical_Org]
GO
ALTER TABLE [dbo].[Diseases]  WITH CHECK ADD  CONSTRAINT [FK_Diseases_Patient] FOREIGN KEY([Patient_Id])
REFERENCES [dbo].[Patient] ([Patient_Id])
GO
ALTER TABLE [dbo].[Diseases] CHECK CONSTRAINT [FK_Diseases_Patient]
GO
ALTER TABLE [dbo].[Doctor]  WITH CHECK ADD  CONSTRAINT [FK_Doctor_Department] FOREIGN KEY([Department_Id])
REFERENCES [dbo].[Department] ([Department_Id])
GO
ALTER TABLE [dbo].[Doctor] CHECK CONSTRAINT [FK_Doctor_Department]
GO
ALTER TABLE [dbo].[Doctor]  WITH CHECK ADD  CONSTRAINT [FK_Doctor_Person] FOREIGN KEY([Doctor_Id])
REFERENCES [dbo].[Person] ([Person_Id])
GO
ALTER TABLE [dbo].[Doctor] CHECK CONSTRAINT [FK_Doctor_Person]
GO
ALTER TABLE [dbo].[Doctor_Schedule]  WITH CHECK ADD  CONSTRAINT [FK_Doctor_Schedule_Doctor] FOREIGN KEY([doctor_id])
REFERENCES [dbo].[Doctor] ([Doctor_Id])
GO
ALTER TABLE [dbo].[Doctor_Schedule] CHECK CONSTRAINT [FK_Doctor_Schedule_Doctor]
GO
ALTER TABLE [dbo].[Evaluation_Doctor]  WITH CHECK ADD  CONSTRAINT [FK_Evaluation_Doctor_DoctorId] FOREIGN KEY([Doctor_Id])
REFERENCES [dbo].[Doctor] ([Doctor_Id])
GO
ALTER TABLE [dbo].[Evaluation_Doctor] CHECK CONSTRAINT [FK_Evaluation_Doctor_DoctorId]
GO
ALTER TABLE [dbo].[Evaluation_Doctor]  WITH CHECK ADD  CONSTRAINT [FK_Evaluation_Doctor_PatientId] FOREIGN KEY([Patient_Id])
REFERENCES [dbo].[Patient] ([Patient_Id])
GO
ALTER TABLE [dbo].[Evaluation_Doctor] CHECK CONSTRAINT [FK_Evaluation_Doctor_PatientId]
GO
ALTER TABLE [dbo].[Evaluation_Medical_Org]  WITH CHECK ADD  CONSTRAINT [FK_Evaluation_Medical_Org_Org_Id] FOREIGN KEY([Medical_Org_Id])
REFERENCES [dbo].[Medical_Organization] ([Medical_Org_Id])
GO
ALTER TABLE [dbo].[Evaluation_Medical_Org] CHECK CONSTRAINT [FK_Evaluation_Medical_Org_Org_Id]
GO
ALTER TABLE [dbo].[Evaluation_Medical_Org]  WITH CHECK ADD  CONSTRAINT [FK_Evaluation_Medical_Org_Patient_Id] FOREIGN KEY([Patient_Id])
REFERENCES [dbo].[Patient] ([Patient_Id])
GO
ALTER TABLE [dbo].[Evaluation_Medical_Org] CHECK CONSTRAINT [FK_Evaluation_Medical_Org_Patient_Id]
GO
ALTER TABLE [dbo].[Examination]  WITH CHECK ADD  CONSTRAINT [FK_Examination_Doctor] FOREIGN KEY([Doctor_Id])
REFERENCES [dbo].[Doctor] ([Doctor_Id])
GO
ALTER TABLE [dbo].[Examination] CHECK CONSTRAINT [FK_Examination_Doctor]
GO
ALTER TABLE [dbo].[Examination]  WITH CHECK ADD  CONSTRAINT [FK_Examination_Medical_Org] FOREIGN KEY([Medical_Org_Id])
REFERENCES [dbo].[Medical_Organization] ([Medical_Org_Id])
GO
ALTER TABLE [dbo].[Examination] CHECK CONSTRAINT [FK_Examination_Medical_Org]
GO
ALTER TABLE [dbo].[Examination]  WITH CHECK ADD  CONSTRAINT [FK_Examination_Patient] FOREIGN KEY([Patient_Id])
REFERENCES [dbo].[Patient] ([Patient_Id])
GO
ALTER TABLE [dbo].[Examination] CHECK CONSTRAINT [FK_Examination_Patient]
GO
ALTER TABLE [dbo].[Family_History]  WITH CHECK ADD  CONSTRAINT [FK_Family_History_Patient] FOREIGN KEY([Patient_Id])
REFERENCES [dbo].[Patient] ([Patient_Id])
GO
ALTER TABLE [dbo].[Family_History] CHECK CONSTRAINT [FK_Family_History_Patient]
GO
ALTER TABLE [dbo].[General_Examination]  WITH CHECK ADD  CONSTRAINT [FK_General_Examination_Patient] FOREIGN KEY([Patient_Id])
REFERENCES [dbo].[Patient] ([Patient_Id])
GO
ALTER TABLE [dbo].[General_Examination] CHECK CONSTRAINT [FK_General_Examination_Patient]
GO
ALTER TABLE [dbo].[Labs]  WITH CHECK ADD  CONSTRAINT [FK_Labs_Org] FOREIGN KEY([Org_Id])
REFERENCES [dbo].[Medical_Organization] ([Medical_Org_Id])
GO
ALTER TABLE [dbo].[Labs] CHECK CONSTRAINT [FK_Labs_Org]
GO
ALTER TABLE [dbo].[Labs]  WITH CHECK ADD  CONSTRAINT [FK_Labs_Patient] FOREIGN KEY([Patient_Id])
REFERENCES [dbo].[Patient] ([Patient_Id])
GO
ALTER TABLE [dbo].[Labs] CHECK CONSTRAINT [FK_Labs_Patient]
GO
ALTER TABLE [dbo].[Medical_Organization]  WITH CHECK ADD  CONSTRAINT [FK_Medical_Organization_UserId] FOREIGN KEY([Medical_Org_Id])
REFERENCES [dbo].[User] ([User_Id])
GO
ALTER TABLE [dbo].[Medical_Organization] CHECK CONSTRAINT [FK_Medical_Organization_UserId]
GO
ALTER TABLE [dbo].[Operations]  WITH CHECK ADD  CONSTRAINT [FK_Operations_Doctor] FOREIGN KEY([Doctor_Id])
REFERENCES [dbo].[Doctor] ([Doctor_Id])
GO
ALTER TABLE [dbo].[Operations] CHECK CONSTRAINT [FK_Operations_Doctor]
GO
ALTER TABLE [dbo].[Operations]  WITH CHECK ADD  CONSTRAINT [FK_Operations_Medical_Org_Id] FOREIGN KEY([Organization_Id])
REFERENCES [dbo].[Medical_Organization] ([Medical_Org_Id])
GO
ALTER TABLE [dbo].[Operations] CHECK CONSTRAINT [FK_Operations_Medical_Org_Id]
GO
ALTER TABLE [dbo].[Operations]  WITH CHECK ADD  CONSTRAINT [FK_Operations_PatientId] FOREIGN KEY([Patient_Id])
REFERENCES [dbo].[Patient] ([Patient_Id])
GO
ALTER TABLE [dbo].[Operations] CHECK CONSTRAINT [FK_Operations_PatientId]
GO
ALTER TABLE [dbo].[Patient]  WITH CHECK ADD  CONSTRAINT [FK_Patient_Person] FOREIGN KEY([Patient_Id])
REFERENCES [dbo].[Person] ([Person_Id])
GO
ALTER TABLE [dbo].[Patient] CHECK CONSTRAINT [FK_Patient_Person]
GO
ALTER TABLE [dbo].[Permission]  WITH CHECK ADD  CONSTRAINT [FK_Permission_Doctor] FOREIGN KEY([Doctor_Id])
REFERENCES [dbo].[Doctor] ([Doctor_Id])
GO
ALTER TABLE [dbo].[Permission] CHECK CONSTRAINT [FK_Permission_Doctor]
GO
ALTER TABLE [dbo].[Permission]  WITH CHECK ADD  CONSTRAINT [FK_Permission_Patient] FOREIGN KEY([Patient_Id])
REFERENCES [dbo].[Patient] ([Patient_Id])
GO
ALTER TABLE [dbo].[Permission] CHECK CONSTRAINT [FK_Permission_Patient]
GO
ALTER TABLE [dbo].[Person]  WITH CHECK ADD  CONSTRAINT [FK_Person_User] FOREIGN KEY([Person_Id])
REFERENCES [dbo].[User] ([User_Id])
GO
ALTER TABLE [dbo].[Person] CHECK CONSTRAINT [FK_Person_User]
GO
ALTER TABLE [dbo].[Reviews]  WITH CHECK ADD  CONSTRAINT [FK_Reviews_Doctor_Id] FOREIGN KEY([Doctor_Id])
REFERENCES [dbo].[Doctor] ([Doctor_Id])
GO
ALTER TABLE [dbo].[Reviews] CHECK CONSTRAINT [FK_Reviews_Doctor_Id]
GO
ALTER TABLE [dbo].[Reviews]  WITH CHECK ADD  CONSTRAINT [FK_Reviews_Medical_Org_Id] FOREIGN KEY([Organization_Id])
REFERENCES [dbo].[Medical_Organization] ([Medical_Org_Id])
GO
ALTER TABLE [dbo].[Reviews] CHECK CONSTRAINT [FK_Reviews_Medical_Org_Id]
GO
ALTER TABLE [dbo].[Reviews]  WITH CHECK ADD  CONSTRAINT [FK_Reviews_Patient_Id] FOREIGN KEY([Patient_Id])
REFERENCES [dbo].[Patient] ([Patient_Id])
GO
ALTER TABLE [dbo].[Reviews] CHECK CONSTRAINT [FK_Reviews_Patient_Id]
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'UserName' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'User', @level2type=N'COLUMN',@level2name=N'Email'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'1 = admin, 2 = medical org, 3 = doctor, 4 = patient ' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'User', @level2type=N'COLUMN',@level2name=N'User_Type'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'User'
GO
USE [master]
GO
