@{
    ViewBag.Title = "About Us";
}
<hr />
    <div class="content text-center">
        <h2>@ViewBag.Title.</h2>
        <hr />

        <p>
            We are Students at
            <a href="http://fcih.helwan.edu.eg/" target="_blank">
                Faculty of Computers & Information
            </a>
            in
            <a href="http://www.helwan.edu.eg" target="_blank">
                Helwan Universty.
            </a>
        </p>
        <hr />
        <p>
            This Web Application is our graduation project that
            <span style="font-weight:bold;">
                Supervised by
                Prof. Mona Nasr
            </span> <br />
            <ul class="navbar-nav ml-auto ">
                <li style="font-weight:bold; color:red"> Our Team:</li>
                <li style="font-weight:bold;">Mohammad Mahmoud Mohammad EzzEldin</li>
                <li style="font-weight:bold;">Ahmed Tarek Foad</li>
                <li style="font-weight:bold;">Mohammad Rabea Mosa Bakr</li>
                <li style="font-weight:bold;">Morio Elhamy Haleem</li>
            </ul>
        </p>
        <hr />
        <p>
            & Powered by
            <a class="hvr-border-fade nav-link " href="https://www.linkdevelopment.com">Link Development</a>
            & Mentor by <span style="font-weight:bold;">Eng. Haitham Mohammad</span>
        </p>

    </div>
