@{
    ViewBag.Title = "Contact Us";
}
<hr />
<div class="content text-center ">
    <h2>@ViewBag.Title.</h2>

    <hr />
    <address>
        Egypt<br />
        Cairo, Ain Helwan,<br /> Helwan Universty, Faculty of Computers & Information<br />
    </address>
    <hr />
    <address>
        <strong>Support:</strong>   <a href=" ">Support@example.com</a><br />
    </address>

</div>