@model IEnumerable<GP_EMR_Project.Models.Medical_Organization>



    @foreach (var item in Model)
    {
        if (item.User.Status_Of_Account == 1)
        {
<div class="col-lg-4 col-md-6 col-sm-12">
  
    <a class=" hvr-border-fade nav-link " href="@Url.Action("Details_Of_Hospital",new { id = item.Medical_Org_Id})">
        @{
            var src = "";
            try
            {
                src = item.User.Photo_Url.Split(' ')[0];
            }
            catch (Exception ex) { src = "~/Content/MainPageBootstrap/pic/c3-healthcare-logo-md.png"; }
        }
        <img class="hospital" src="@Url.Content(src)" alt="hospital" />
        <small-star-rating>
            @{
                var rate = item.Medium_Rate;
                var fraction = item.Medium_Rate - Math.Truncate(Double.Parse(rate.ToString()));
                if (rate == null || rate == 0)
                {
                    <div class="star"></div>
                    <div class="star"></div>
                    <div class="star "></div>
                    <div class="star "></div>
                    <div class="star"></div>
                }
                else
                {
                    for (int j = 1; j <= 5; j++)
                    {
                        if (j > (int)rate)
                        {
                            if (0.8 <= fraction)
                            {
                                <div class="star full"></div>
                            }
                            else if (0.4 <= fraction)
                            {
                                <div class="star Halfstar"></div>
                            }
                            else if (0.3 >= fraction)
                            {
                                <div class="star"></div>
                            }
                            fraction = 0;
                        }
                        else
                        {
                            <div class="star full"></div>
                        }
                    }
                }
            }
        </small-star-rating>
        <h3>@item.Medical_Org_Name</h3>
    </a>
</div>  
    }
}

