@model GP_EMR_Project.Models.Child_FollowUp_Form

@{
    ViewBag.Title = "Child_Followup";
    Layout = "~/Views/Shared/_Patient.cshtml";
}

<div style="text-align:center">
    <h2>Child Followup</h2>
</div>
