@model GP_EMR_Project.Models.Family_History

@{
    ViewBag.Title = "Family_History";
    Layout = "~/Views/Shared/_Patient.cshtml";
}

<div style="text-align:center">
    <h2>Family History</h2>
</div>
