@model GP_EMR_Project.Models.Lab

@{
    ViewBag.Title = "Laboratories_Radiology";
    Layout = "~/Views/Shared/_Patient.cshtml";
}

<div style="text-align:center">
    <h2>Laboratories Radiology</h2>
</div>


