@model GP_EMR_Project.Models.Department

@{
    ViewBag.Title = "Add_New_Department";
    Layout = "~/Views/Shared/_Medical_Organization.cshtml";
}

<br />

<div class="contentt">
    <h3 class="text-center">Add New Department</h3>
    <br />
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-6">
                <select class="form-control form-control-lg container">
                    <option>cxcxzcxcx</option>
                    <option>.,llkm</option>
                    <option>cvbnm,</option>
                    <option>sdfghjk</option>
                    <option>fghj</option>
                    <option>imnh</option>
                    <option>qscvuh</option>
                </select>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-4	">
                <button type="button" class="btn btn-primary btn-lg" style="margin:20px 40% auto">submit</button>
            </div>
        </div>

        <hr class="container" color="#0033FF" />
    </div>
</div>


