@model GP_EMR_Project.Models.Department

@{
    ViewBag.Title = "Delete_Deparment";
    Layout = "~/Views/Shared/_Medical_Organization.cshtml";
}

<h2 class="text-center">Delete Deparment</h2>
<br /><br />
<h3 style="margin-left:10px;font-family:'Bookman Old Style'">Are you sure you want to delete this?</h3>
<div>
    <hr />
    <dl class="col-6" style="margin-left:10px">
        <dt style="font-size:30px;color:dimgray;font-family:'Bookman Old Style'">
            Department Name
        </dt>
        <dd  style="font-size:25px;color:grey;font-family:'Bookman Old Style'">
            @Html.DisplayFor(model => model.Department_Name)
        </dd>

        <dt style="font-size:30px;color:dimgray;font-family:'Bookman Old Style'">
            Department ID
        </dt>

        <dd style="font-size:25px;color:grey;font-family:'Bookman Old Style'">
            @Html.DisplayFor(model => model.Department_Id)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-danger" style="margin-left:10px" />
        </div>
    }

    <hr class="container" color="#0033FF" />

</div>
