@model GP_EMR_Project.Models.User

@{
    /**/

    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Medical_Organization.cshtml";
}

<br />
<br />
<br />
@{
    var src = "";
    try
    {
        src = Model.Photo_Url.Split(' ')[0];
    }
    catch (Exception ex)
    {
        src = "~/Content/MainPageBootstrap/pic/c3-healthcare-logo-md.png";
    }
}
<div style="text-align:center">
    <img src="@Url.Content(src)" class="img-thumbnail im" style="border-radius:50%; text-align:center" />

    <center>
        <small-star-rating>
            @{
                var rate = Model.Medical_Organization.Medium_Rate;
                var fraction = Model.Medical_Organization.Medium_Rate - Math.Truncate(Double.Parse(rate.ToString()));
                if (rate == null || rate == 0)
                {
                    <div class="star"></div>
                    <div class="star"></div>
                    <div class="star "></div>
                    <div class="star "></div>
                    <div class="star"></div>
                }
                else
                {
                    for (int j = 1; j <= 5; j++)
                    {
                        if (j > (int)rate)
                        {
                            if (0.8 <= fraction)
                            {
                                <div class="star full"></div>
                            }
                            else if (0.4 <= fraction)
                            {
                                <div class="star Halfstar"></div>
                            }
                            else if (0.3 >= fraction)
                            {
                                <div class="star"></div>
                            }
                            fraction = 0;
                        }
                        else
                        {
                            <div class="star full"></div>
                        }
                    }
                }
            }
        </small-star-rating>
    </center>
    <div class="u">
        <div class="container stats text-center">
            <h1>@Model.Medical_Organization.Medical_Org_Name</h1> <br />
            <div class="row">

                <div class="col-md-6">
                    <div class="stat members">
                        Departments
                        <span><a href="">@Model.Medical_Organization.Departments.Count()</a></span>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="stat hospitals">
                        Doctors
                        <span>
                            <a href="">
                                @{
                                    GP_EMR_Project.Models.EMR_GP_DBEntities db = new GP_EMR_Project.Models.EMR_GP_DBEntities();
                                    IEnumerable<GP_EMR_Project.Models.Doctor> list = db.Doctors.Where(dc => dc.Medical_Org_Id == Model.User_Id).ToList();
                                }
                                @list.Count()
                               
                            </a>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<br />
<br />
<br />
