@model GP_EMR_Project.Models.Department

@{
    ViewBag.Title = "Manage_Doctors";
    Layout = "~/Views/Shared/_Medical_Organization.cshtml";
}


<div class="contentt">
    <div class="t container">
        <h1 class="text-center">Doctors</h1>
        <div class="row justify-content-between">
            <div class="col-4">
                <form class="form-inline">
                    <input class=" ml-auto form-control mr-sm-2" type="search" placeholder="Search By Name" aria-label="Search">
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                </form>
            </div>
            <div class="col-4">

                <select class="custom-select">
                    <option selected>Filter by Governorate</option>
                    <option></option>
                </select>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="table-responsive">
            <table class=" main-table table table-bordered text-center">
                <tr>
                    <th>Doctor Name</th>
                    <th>Control Doctor</th>
                </tr>
                <tr>
                    <td></td>
                    <td>
                        <a href="#" class="btn btn-primary">Details</a>
                        <a href="#" class="btn btn-danger">Block</a>
                    </td>
                </tr>
                <tr>
                    <td></td>
                    <td>
                        <a href="#" class="btn btn-primary">Details</a>
                        <a href="#" class="btn btn-danger">Block</a>
                    </td>
                </tr>
                <tr>
                    <td></td>
                    <td>
                        <a href="#" class="btn btn-primary">Details</a>
                        <a href="#" class="btn btn-danger">Block</a>
                    </td>
                </tr>
                <tr>
                    <td></td>
                    <td>
                        <a href="#" class="btn btn-primary">Details</a>
                        <a href="#" class="btn btn-danger">Block</a>
                    </td>
                </tr>
                <tr>
                    <td></td>
                    <td>

                        <a href="#" class="btn btn-primary">Details</a>
                        <a href="#" class="btn btn-danger">Block</a>
                    </td>
                </tr>
                <tr>
                    <td></td>
                    <td>
                        <a href="#" class="btn btn-primary">Details</a>
                        <a href="#" class="btn btn-danger">Block</a>
                    </td>
                </tr>
            </table>
        </div>

    </div>
</div>


 