@model IEnumerable<GP_EMR_Project.Models.Doctor_Schedule>

@{
    ViewBag.Title = "Schedule";
    Layout = "~/Views/Shared/_Doctor.cshtml";
}
<br />
<div class="contentt">
    @{
        var src = "";
        try
        {
            src = ViewBag.Medical_Organization_Photo;
        }
        catch (Exception ex)
        {
            src = "~/Content/MainPageBootstrap/pic/c3-healthcare-logo-md.png";
        }
    }

    <img src="@Url.Content(src)" class="img-thumbnail im" style="border-radius:50%;" />
    <div style="display:inline-block; width:65%">
        <h3 class="text-center" style="color:grey;">THE SCHEDULE</h3>
        <hr />
    </div>
    <button class="btn btn-outline-info my-2 my-sm-0" style=" margin-left: 45%; width:150px" id="printButton" runat="server" Text="Print" OnClick="javascript:window.print();">Print</button>
    <hr>
    <div class="container">
        <div class="table-responsive">
            <table class=" main-table table table-bordered table-hover text-center">
                <tr>
                    <th>Day</th>
                    <th>From</th>
                    <th>To</th>
                </tr>

                @foreach (var item in Model)
                {
                    <tr>
                        <td style="font-weight:bold">@item.day</td>
                        <td style=" font-weight:bold">@item.from</td>
                        <td style=" font-weight:bold">@item.to</td>
                    </tr>
                }

            </table>
            <hr />
            <br />
        </div>
    </div>
</div>

